 body {
        background-color: #141414 !important;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: white !important;
      }
      .navbar-brand :hover {
        transform: scale(1.5);
      }
      .navbar {
        background-color: #141414 !important;
        padding: 15px 0;
      }
      
.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  background-color: #e50914;  
  width: 4%;
  opacity: 0.8;
}

.custom-carousel .carousel-control-prev:hover,
.custom-carousel .carousel-control-next:hover {
  opacity: 1;
}
 
.custom-carousel .carousel-indicators [button],
.custom-carousel .carousel-indicators button {
  background-color: #555 !important;  
  height: 6px;
  border: none;
}

.custom-carousel .carousel-indicators .active {
  background-color: #e50914 !important;  
}
 
.carousel-item img {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.carousel-item img:hover {
  transform: scale(1.1);
}

      main {
        padding-top: 80px;
      }

      #check {
        display: none;
      }

      .search-box {
        display: flex;
        align-items: center;
        position: relative;
      }
      .search-input {
        width: 0;
        padding: 0;
        border: none;
        background: transparent;
        color: white;
        outline: none;
        transition:
          width 0.4s ease,
          border 0.4s ease,
          padding 0.4s ease;
        overflow: hidden;
      }

       #check:checked ~ .search-input {
        width: 200px;
        padding: 5px 10px;
        border: 1px solid white;
        background: rgba(0, 0, 0, 0.8);
        margin-left: 10px;
      }

      #check:checked + label .icon {
        color: #e50914;
      }

      .film-poster {
  height: 180px;       
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.2s;
}


